@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Libre Franklin', sans-serif;
    padding: 0;
    margin: 0;
}

body, #root {
    background-color: #252829;
    background-image: url("../Assets/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
}

main {
    padding: 1.75rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-one {
    font-weight: 800;
    font-size: 2.5rem;
}


.fully-centered {
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    height: 100%;
}

